<div *ngIf="showError" class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>

<div class="row">
  <div class="col-12">
    <h2>Cadastro de Cliente</h2>
  </div>
</div>
<hr/>
<form #myForm="ngForm" (ngSubmit)="salvar(myForm)" >
    <div class="row">
      <div class="col-6">
          <div class="form-group">
            <label for="inputNome">Informe o nome do cliente:</label>
            <input type="text" class="form-control" id="inputNome" placeholder="Nome..." name="nome" [(ngModel)]="cliente.nome" >
          </div>
      </div>
      <div class="col-6">
          <div class="form-group">
            <label for="inputCPF">Informe o CPF do cliente:</label>
            <input type="text" class="form-control" id="inputCPF" placeholder="CPF..." name="cpf" [(ngModel)]="cliente.cgc" mask="000.000.000-00" minlength="11">
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-6">
          <div class="form-group">
            <label for="inputIdentidade">Informe o número da identidade do cliente:</label>
            <input type="text" class="form-control" id="inputIdentidade" placeholder="Identidade..." name="identidade" [(ngModel)]="cliente.identidade" maxlength="10">
          </div>
      </div>
      <div class="col-6">
          <div class="form-group">
            <label for="inputTelefone">Informe o telefone do cliente:</label>
            <input type="text" class="form-control" id="inputTelefone" placeholder="Telefone..." name="telefone" [(ngModel)]="cliente.telefone" mask="(00) 000000009">
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-6">
          <div class="form-group">
            <label for="inputEndereco">Informe o endereço residencial do cliente:</label>
            <input type="text" class="form-control" id="inputEndereco" placeholder="Endereço..." name="endereco" [(ngModel)]="cliente.endereco">
          </div>
      </div>
      <div class="col-6">
          <div class="form-group">
            <label for="inputEmail">Informe o endereço eletrônico do cliente:</label>
            <input type="text" class="form-control" id="inputEmail" placeholder="Email..." name="email" [(ngModel)]="cliente.email">
          </div>
      </div>
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
