<!-- Image and text -->
<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" [routerLink]="['']">
        <fa-icon [icon]="faDog" size="lg"></fa-icon> {{title}}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/rf-cadastro-cliente']">RF - Cadastro de Cliente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['rf-listagem-cliente']">RF - Listagem de Cliente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['rf-relatorio-servico-funcionario']">RF - Relatório: serviço x profissional</a>
          </li>
        </ul>
      </div>

      <div class="form-inline my-2 my-lg-0">
        <span style="margin-right: 15px">Usuário: (...)</span>
        <fa-icon [icon]="faSignOutAlt" size="lg"></fa-icon>
      </div>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
