<div *ngIf="showError" class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>

<div class="row">
  <div class="col-12">
    <h2>Listagem de Cliente</h2>
  </div>
</div>
<hr/>
<table class="table">
  <thead>
    <tr>
        <th>CPF</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let cliente of clienteList'>
      <td>{{cliente.cgc | mask: '000.000.000-00'}}</td>
      <td>{{cliente.nome}}</td>
      <td>{{cliente.telefone | mask: '(00) 000000009'}}</td>
      <td>
        <a class="btn btn-primary" (click)="editar(cliente.id)">Editar</a>
      </td>
    </tr>
  </tbody>
</table>
