<div *ngIf="showError" class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>

<div class="row">
  <div class="col-12">
    <h2>Relatório - Serviço x Profissional</h2>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-12 text-center">
    <dp-month-calendar [(ngModel)]="selectedDate"></dp-month-calendar>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <a class="btn btn-primary" (click)="gerar()">Gerar</a>
  </div>
</div>
<hr/>
<ngb-accordion *ngIf="relatorio.hasOwnProperty('atendentes') && relatorio.hasOwnProperty('veterinarios') " #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel *ngFor="let funcionario of relatorio['atendentes']">
      <ng-template ngbPanelTitle>
        <span>Funcionário: {{funcionario.nome}} (Atendente) </span>
      </ng-template>
      <ng-template ngbPanelContent>
        <table class="table table-striped table-sm">
            <thead class="thead-dark">
              <tr>
                <th class="text-center" style="width: 40%;">Serviço</th>
                <th class="text-center" style="width: 20%;">Cliente</th>
                <th class="text-center" style="width: 20%;">Pet</th>
                <th class="text-center" style="width: 20%;">Data</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let servico of funcionario.servicos">
                <td class="text-center">{{servico.servico}}</td>
                <td class="text-center">{{servico.cliente}}</td>
                <td class="text-center">{{servico.pet}}</td>
                <td class="text-center">{{servico.agendado_para}}</td>
              </tr>
            </tbody>
        </table>
      </ng-template>
    </ngb-panel>
    <ngb-panel *ngFor="let funcionario of relatorio['veterinarios']">
        <ng-template ngbPanelTitle>
          <span>Funcionário: {{funcionario.nome}} (Veterinario) </span>
        </ng-template>
        <ng-template ngbPanelContent>
          <table class="table table-striped table-sm">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center" style="width: 40%;">Serviço</th>
                  <th class="text-center" style="width: 20%;">Cliente</th>
                  <th class="text-center" style="width: 20%;">Pet</th>
                  <th class="text-center" style="width: 20%;">Data</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let servico of funcionario.servicos">
                  <td class="text-center">{{servico.servico}}</td>
                  <td class="text-center">{{servico.cliente}}</td>
                  <td class="text-center">{{servico.pet}}</td>
                  <td class="text-center">{{servico.agendado_para}}</td>
                </tr>
              </tbody>
          </table>
        </ng-template>
      </ngb-panel>
  </ngb-accordion>
